* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

.fa {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgb(35, 40, 46) 0px 15px 30px -10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-links {
  display: flex;
  column-gap: 15px;
}

.navbar-link a {
  color: rgb(32, 32, 32);
  font-weight: 500;
}

.navbar-link a:hover {
  text-decoration: underline;
}

.navbar-menu-toggle {
  display: none;
  cursor: pointer;
}

/* ? side-nav bar */

.side-navbar {
  background: rgb(0, 212, 255);
  background: linear-gradient(rgba(0, 212, 255, 1) 36%, rgba(9, 9, 121, 1) 77%);
  color: white;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -60%;
  padding: 20px;
  line-height: 30px;
  transition: 1s;
}
.side-navbar-links a {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.side-navbar-link :hover {
  /* text-decoration: underline; */
  border-bottom: solid white 1px;
}
/* !------------------media query for nav bar-------------- */
@media screen and (max-width: 600px) {
  .navbar-menu-toggle {
    display: block;
  } /*!switch*/
  .navbar-links {
    display: none;
  }
  .image-1 img {
    display: none;
  }
  .service-1 div {
    display: none;
  }
  .service-2 {
    flex-direction: column;
  }
  .side-navbar{
    z-index: 3;
  }
}
/* !-------------------NAV-BAR-SECTION-COMPLETED-----------------
?-------------------------HEADER-SECTION----------------------- */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* gap: -50px; */
  margin: 10px;
  padding: 30px;
}

.h-button {
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 7px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 10px #1f4c65;
}

.h-button:active {
  scale: 0.92;
}

.h-button:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}
/* .image-1 img{
   border: solid; 
}*/
/* .services{
} */
.service-1 {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
  font-size: 20px;
}

.service-2 {
  display: flex;
  justify-content: center;
  padding: 15px;
  column-gap: 15px;
}
.service-2 div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.s-box {
  background-color: rgb(185, 233, 233);
  padding: 10px;
  border-radius: 20px;
}
.s-box h2 {
  margin-top: 2px;
}
.arrival-sec {
  padding: 15px;
}
.new-arrival {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.new-arrival-cont img {
  border-radius: 15px;
}
.new-arrival-cont {
  position: relative;
  flex-basis: 20%;
}
.new-arrival-cont img {
  width: 200px;
  height: 200px;
  /* border: solid 1px; */
}

.new-arrival button {
  position: absolute;
  top: 60%;
  left: 20%;
}

.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  padding: 5px;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(136, 251, 255), rgb(17, 247, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}
.news input {
  padding: 11px;
  width: 80vw;
  margin-bottom: 10px;
  background-color: #212121;
  padding: 11px;
  border: 2px solid white;
  border-radius: 5px;
}
.news input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}
.news h2 {
  margin-top: 15px;
}
/* From uiverse.io by @alshahwan */
.subs {
  background-color: rgb(26, 231, 238);
  border: solid #31bdf5 1px;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

.subs p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #ffffff;
}

.subs i {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  color: red;
}

.subs:hover p {
  left: 0.6em;
  color: red;
  font-weight: 600;
}

.subs:hover i {
  opacity: 1;
}

.subs:hover {
  background-color: #03d6fc;
}

footer {
  background-color: #31bdf5;
  padding: 30px;
  color: white;
  margin-top: 15px;
}

.product-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.product-box{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 20%;

}
.products:hover{
  cursor: pointer;
}
/* this is a recreation of twitter search in css */
article .form {
  --input-text-color: #00e1ff;
  --input-bg-color: #283542;
  --focus-input-bg-color: #283542;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
article .form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}
/* a fancy bg for showing background and border when focus. */
article .fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
article label {
  padding: 0.8em;
  /* height: 40px; */
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

article .search,
.close-btn {
  position: absolute;
}
/* styling search-icon */
article .search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
article svg {
  width: 17px;
  display: block;
}
/* styling of close button */
article .close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
article .input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

article .input:focus {
  outline: none;
}

article .input::placeholder {
  color: var(--text-color);
}
/* input background change in focus */
article .input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
article .input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
article .input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
article input:-webkit-autofill:hover,
article input:-webkit-autofill:focus,
article input:-webkit-autofill,
article input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.clsfooter{
  position: sticky;
  bottom:0 ;
}